[defaults]
####inventory = ~/ansible/inventory/hosts
#inventory = /home/<userName>/ansible/inventory/hosts
# Path to the vault key file to decrypt the vaulted files
vault_password_file = ~/ansible/.vault_key
#vault_password_file = /home/<userName>/ansible/.vault_key 

####[privilege_escalation]
####become=True
####become_method=sudo
#become_user=root
#become_ask_pass=False
